@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);@font-face {
  font-family: 'icomoon';
  src:  url(/fonts/icomoon.eot?882ae9803425769ef3ce2cb7fa14185e);
  src:  url(/fonts/icomoon.eot?882ae9803425769ef3ce2cb7fa14185e#iefix) format('embedded-opentype'),
    url(/fonts/icomoon.ttf?ef0abfbc36a29dc6c98a737725485935) format('truetype'),
    url(/fonts/icomoon.woff?2393d88395370693d4305318eaf5d9f9) format('woff'),
    url(/fonts/icomoon.svg?9c7fe9705ec9a0cb8c82b3722fe155bc#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\E900";
}
.icon-calendar:before {
  content: "\E901";
}
.icon-trash:before {
  content: "\E902";
}
.icon-pencil:before {
  content: "\E903";
}
.icon-add-file:before {
  content: "\E904";
}
.icon-plus:before {
  content: "\E905";
}
.icon-file:before {
  content: "\E906";
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-s-2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 480px) {
  .col-l-1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: #333;
  font-weight: lighter;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0 10px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.icon-2x {
  font-size: 2rem;
}

.icon-3x {
  font-size: 3rem;
}

.icon-5x {
  font-size: 5rem;
}

.bg-black {
  background: #333;
}

.icon--circle {
  padding: 5px;
  border-radius: 50%;
}

::-webkit-scrollbar {
  background: #EBEBEB;
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #40CCAB;
  border-radius: 5px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="file"] {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[v-cloak] {
  display: none;
}

.inline-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inline-list > * {
  margin-right: 10px;
}

.input,
.input-group,
.button {
  border-radius: 18px;
  padding: 8px;
  border: 1px solid #EBEBEB;
}

.input--narrow {
  padding-top: 8px;
  padding-bottom: 8px;
}

.input-group {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-group > .input {
  border: none;
  padding-left: 0;
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-group > i:first-child {
  padding-left: 10px;
}

.input-group > .button {
  height: 100%;
  text-transform: uppercase;
}

.input-group > .button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button {
  border: none;
  cursor: pointer;
}

.button--outline {
  border: 1px solid #EBEBEB;
  background: inherit;
}

.border--green {
  border-color: #40CCAB;
}

.border--red {
  border-color: #FF5858;
}

.no-resize {
  resize: none;
}

.button--green {
  background: #40CCAB;
}

.button--red {
  background: #FF5858;
}

.photo-circle {
  border-radius: 50%;
  border: 1px solid #EBEBEB;
}

.photo-big {
  width: 64px;
}

.photo-medium {
  width: 48px;
}

.photo-small {
  width: 32px;
}

.circle-button-medium {
  width: 48px;
  height: 48px;
}

.text-center {
  text-align: center;
}

.font-bigger {
  font-size: 1.5rem;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-bottom-xs {
  margin-bottom: 5px;
}

.m-bottom-s {
  margin-bottom: 0.75rem;
}

.m-top-s {
  margin-top: 0.75rem;
}

.m-top-m {
  margin-top: 1.5rem;
}

.m-top-l {
  margin-top: 3rem;
}

.m-top-xl {
  margin-top: 6rem;
}

.m-left-xs {
  margin-left: 5px;
}

.m-left-s {
  margin-left: 0.75rem;
}

.m-right-s {
  margin-right: 0.75rem;
}

.red {
  color: #FF5858;
}

.italic {
  font-style: italic;
}

.bolder {
  font-weight: bolder;
}

.bold {
  font-weight: bold;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.muted {
  color: #999;
}

.green {
  color: #40CCAB;
}

.gray {
  color: #EBEBEB;
}

.block {
  display: block;
}

.white {
  color: white;
}

.bg-green {
  background: #40CCAB;
}

.t-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.f-no-shrink {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pointer {
  cursor: pointer;
}

.navigation-position {
  position: relative;
  padding-bottom: 40px;
}

.navigation-position > * {
  position: absolute;
  right: 0;
}

.vh-100 {
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.max-w-s {
  max-width: 320px;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.task__title {
  margin: 20px 0;
  padding: 5px;
  font-size: 3rem;
  font-weight: 300;
}

.flash-message {
  background: #40CCAB;
  border-radius: 13px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 15px;
}

.comment-form {
  border: 1px solid #EBEBEB;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-form__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
}

.comment-form__body {
  border: none;
  width: 100%;
}

.comment-form__submit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-transform: uppercase;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.comment__author {
  text-align: center;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 80px;
  max-width: 80px;
}

.comment__body {
  background: #EBEBEB;
  border-radius: 18px;
  border-top-left-radius: 0;
  padding: 10px;
  line-height: 1.25;
}

.comment__timestamp {
  text-align: right;
  font-style: italic;
  font-size: 0.8rem;
}

.card {
  background: #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 18px;
}

.card__title {
  margin-top: 0;
}

.card__content {
  padding: 20px 10px;
}

.card__secondary-content {
  padding: 20px 10px 20px 0;
}

.card__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  min-width: 50px;
}

.contextual-menu {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-box-shadow: -2px 2px 10px -1px rgba(100, 100, 100, 0.6);
          box-shadow: -2px 2px 10px -1px rgba(100, 100, 100, 0.6);
  padding: 10px;
}

.contextual-menu__list {
  margin-left: 2rem;
  min-width: 100px;
}

.contextual-menu__list li {
  padding: 5px 0;
}

.avatar-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.avatar-picture,
.avatar-preview {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #EBEBEB;
}

.avatar-preview {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cropping-area {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
}

.cropping-area__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cropping-area__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: white;
  border: 1px solid #EBEBEB;
  padding: 15px 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.edit-name {
  border: 1px solid #EBEBEB;
  border-radius: 18px;
}

.edit-name > * {
  vertical-align: middle;
}

.edit-name__input {
  border: none;
  margin-left: 10px;
  font-size: 1.5rem;
}

.edit-name__button {
  background: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.selectbox {
  border: 1px solid #EBEBEB;
  border-radius: 18px;
}

.selectbox--no-results {
  border-bottom: none;
}

.selectbox__input-group {
  border: 1px solid #EBEBEB;
  border-radius: 18px;
  border-top: none;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.selectbox__input {
  border: none;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: none;
  width: 100%;
}

.selectbox__collapse {
  background: white;
  position: absolute;
  right: 0;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #EBEBEB;
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
  cursor: pointer;
}

.selectbox__options {
  padding: 5px;
  max-height: 200px;
  overflow-y: scroll;
}

.selectbox__option {
  border-radius: 21px;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.selectbox__option:not(.selectbox__option--selected):hover {
  background: whitesmoke;
}

.selectbox__option--selected {
  background: #40CCAB;
}

.selectbox__match {
  color: #FF5858;
}

.attachment {
  max-width: 150px;
  overflow-x: hidden;
}

.attachment__thumbnail {
  max-height: 150px;
}

.attachment__options {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.attachment__option {
  background: #333;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  border: none;
  cursor: pointer;
}

.add-task {
  background: white;
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  z-index: 106;
  padding: 10px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.add-task--open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.6);
  z-index: 105;
}

